.container {
  background: lightblue;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  width: 100%;
  text-align: center;
  border: 1px;
  border-color: black;
  border-style: solid;
  background: green;
}
